/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media(max-width:968px){
    .top-box2{
margin-top: 40px;
margin-bottom: 40px;
    }
}
@media(max-width:1028px){
   .page2-boxes{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
   }
}
@media(max-width:769px){
    .ul-tag{
        display: none;
    }
    .phone{
        display: none;
    }
    .fa-bars{
        display: block;
        max-width: 30px;
        width: 100%;
        margin-right: 40px;
    }
    .fa-phone{
        display: none;
    }
 }

@media(max-width:829px){
   .right-div1{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 400px;
   }
   .left-img{
    margin-bottom: 50px;
    margin-left: 50px;
   }
   .left-div1{
    margin-left: 100px;
   }
   .left-div1{
    margin-bottom: 100px;
   }
}
@media(max-width:938px){
   .pg3-bottom-box{
    margin-bottom: 27px;
   }
   
}
@media(max-width:1071px){
    .bg-text{
        margin-left: 0;

    }
}
@media(max-width:850px){
    .long-block{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .logo-a{
        margin-bottom: 30px;
    }
}
@media(max-width:497px){
    .header{}
}
@media(max-width:362px){
    .bottom-line{
        margin-top: 50px;
    }
}