/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.body{
    padding-top: 120px;
}
.header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    max-width: 1920px;
    width: 100%;
    height: 120px;
    background-color:white;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.ul-tag{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 660px;
    width: 100%;
    font-family: 'Futura PT Demi';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.fa-bars{
    display: none;
    font-size: 30px;
    color: gray;
    width: 100%;
}
.list{
position: relative;
color:black;
-webkit-transition-duration: 1s;
     -o-transition-duration: 1s;
        transition-duration: 1s;
}
.list::after{
    content: '';
    position: absolute;
    height: 15%;
    width: 0%;
    left: 0;
    bottom:0;
    background-color:black;
    -webkit-transition-duration: 2s;
         -o-transition-duration: 2s;
            transition-duration: 2s;
    }
    .list:hover::after{
        width: 100%;
        }
        .list:hover{
           color:wheat;
        }
.nav{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 660px;
    width: 100%;
}
.bg-image{
    background-image: url(../images/background.jpg);
    height: 916px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1920px;
    width: 100%;
}
.bg-title{
    font-size: 75px;
    max-width:580px ;
    width: 100%;
    color: white;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.bg-p{
    font-size: 30px;
    color: white;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.button-div{
    max-width: 301px;
    width: 100%;
    height: 90px;
    background-color:#00A2FF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10%;
  margin-top: 40px;
}
.button-div-a{
    max-width: 301px;
    width: 100%;
}
.bg-text{
max-width: 858px;
width: 100%;
height: 390px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
margin-left: 242px;
padding-top: 300px;
}
.phone{
    color: black;
}
.fa-phone{
    margin-right: 10px;
}


/* page1 section1 */


.top-wholebox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 109px;
    max-width: 1569px;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.box-button{
    max-width: 137px;
    width: 100%;
    height:39px ;
    background-color: orange;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 15px;
    font-family: 'Futura PT bold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.box-button2{
    max-width: 137px;
    width: 100%;
    height:39px ;
    background-color: #945B9F;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 15px;
    font-family: 'Futura PT bold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.box-button3{
    max-width: 137px;
    width: 100%;
    height:39px ;
    background-color: #5EB6E1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
    font-size: 15px;
    font-family: 'Futura PT bold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.box-p1{
    color: white;
font-size: 30px;
margin-bottom: 5px;
max-width: 373px;
width: 100%;
font-family: 'Futura PT Cond medium';
font-weight: 500;
    font-style: normal;
    font-display: swap;
    width: 250px;
}
.box-p2{
    color: white;
    font-size: 20px;
    margin-bottom: 26px;
    max-width: 246px;
    width: 100%;
    font-family: 'Futura PT Book';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.top-box1{
   background-image: url(../images/image1.jpg);
   background-repeat: no-repeat;
   max-width: 400px;
    width: 100%;
    height: 283px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            align-items: center;
}
.top-box2{
   background-image:url(../images/image2.jpg) ;
   background-repeat: no-repeat;
   max-width: 400px;
    width: 100%;
    height: 283px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            align-items: center;
}
.top-box3{
    background-image: url(../images/image3.jpg);
    background-repeat: no-repeat;
    max-width: 400px;
    width: 100%;
    height: 283px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            align-items: center;
}
.box1-p{
    position: absolute;
    top: 0;
    color: white;
}
.top-box-text{
}
.title2{
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
}
.title3{
    font-size: 20px;
    color: white;
    margin-bottom: 26px;
}



/* page1 section 2 */
.bottom-wholebox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1550px;
  width: 100%;
}
.bottom-box-t{
    color: orange;
    font-size: 15px;
    font-family: 'Futura PT bold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
.bottom-box-t2{
    font-size: 60px;
    font-family: 'Futura PT Cond medium';
font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.bottom-p1{
    max-width: 370px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 49px;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.bottom-p2{
    max-width: 370px;
    width: 100%;
    line-height: 20px;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.button3{
    max-width: 243px;
    width: 100%;
    height: 74px;
    background-color: blueviolet;
    border-radius: 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 49px;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    
}

.right-div1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 820px;
    width: 100%;
    height: 930px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 252px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.left-div1{
    max-width: 673px;
    width: 100%;
    height: 270px;
    margin-top: 380px;
}
.image4{
    margin-right: 51px;
}
.image5{
    margin-bottom: 54px;
}
.blueline{
    max-width: 168px;
    width: 100%;
    height: 2px;
    background-color: #5EB6E1;
}
.right-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
}
.left-img{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



/* page2/header*/
.page2-header{
    max-width: 1518px;
    width: 100%;
    height: 539px;
    background-color: #222224;
    margin-top: 289px;
}
.page2-t{
   font-size: 60px;
    color: white;
    margin-top:112px;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.page2-p{
    max-width: 900px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.page2-t2{
font-size: 60px;

margin-top: 187px;
font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.blueline3{
    background-color: #00A2FF;
    max-width: 130px;
    width: 100%;
    height: 2px;
    margin-bottom: 60px;
    margin-top: 15px;
}
.blueline2{
    background-color: #00A2FF;
    max-width: 100px;
    width: 100%;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 43px;
}
.blueline4{
    background-color: #00A2FF;
    max-width: 100px;
    width: 100%;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 90px;
}
.blueline5{
    background-color: #00A2FF;
    max-width: 150px;
    width: 100%;
    height: 2px;
}
.page2-p2{
    max-width: 900px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.page2-textdiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            align-items: center;
   
}
.page2-boxes{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: top;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.image7{
    max-width: 506px;
    width: 100%;
    height: 397px;
    -o-object-fit: cover;
       object-fit: cover;
}
.image7-div{
    position: relative;
    max-width: 506px;
    width: 100%;
    height: 397px;
}
.image7-txt{
    position: absolute;
   left: 50%;
   -webkit-transform: translate(-50%,-50%);
       -ms-transform: translate(-50%,-50%);
           transform: translate(-50%,-50%);
  bottom: 0;
    color:white;
    font-size: 45px;
    max-width: 275px;
    width: 100%;
    font-family: 'Futura PT Book';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.image7-div::before{
    content: ' ';
    max-width: 506px;
    width: 100%;
    height: 75px;
    background-color:black;
    display: block;
    position: absolute;
    opacity: 80%;
    bottom: 0;
    }
.image8{
    max-width: 506px;
    width: 100%;
    height: 397px;
    -o-object-fit: cover;
       object-fit: cover;
}
.image9{
    max-width: 506px;
    width: 100%;
    height: 397px;
    -o-object-fit: cover;
       object-fit: cover;
}
.image9-div{
    position: relative;
    max-width: 506px;
    width: 100%;
    height: 397px;
}
.image9-txt{
    position: absolute;
   left: 50%;
   -webkit-transform: translate(-50%,-50%);
       -ms-transform: translate(-50%,-50%);
           transform: translate(-50%,-50%);
  bottom: 0;
    color:white;
    font-size: 45px;
    max-width: 275px;
    width: 100%;
    font-family: 'Futura PT Book';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.image9-div::before{
    content: ' ';
    max-width: 506px;
    width: 100%;
    height: 75px;
    background-color:black;
    display: block;
    position: absolute;
    opacity: 80%;
    bottom: 0;
    }
.image10{
    max-width: 506px;
    width: 100%;
    height: 397px;
    -o-object-fit: cover;
       object-fit: cover;
}
.image10-div{
    position: relative;
    max-width: 506px;
    width: 100%;
    height: 397px;
}
.image10-txt{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
   bottom: 0;
     color:white;
     font-size: 45px;
     max-width: 275px;
     width: 100%;
     font-family: 'Futura PT Book';
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}
.image10-div::before{
    content: ' ';
    max-width: 506px;
    width: 100%;
    height: 75px;
    background-color:black;
    display: block;
    position: absolute;
    opacity: 80%;
    bottom: 0;
    }
.image11{
   max-width: 506px;
   width: 100%;
   height: 397px;
   -o-object-fit: cover;
      object-fit: cover;
}
.image11-div{
    position: relative;
    max-width: 506px;
    width: 100%;
    height: 397px;
}
.image11-txt{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
   bottom: 0;
     color:white;
     font-size: 45px;
     max-width: 275px;
     width: 100%;
     font-family: 'Futura PT Book';
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}
.image11-div::before{
content: ' ';
max-width: 506px;
width: 100%;
height: 75px;
background-color:black;
display: block;
position: absolute;
opacity: 80%;
bottom: 0;
}
.image12{
    max-width: 506px;
    width: 100%;
    height: 397px;
    -o-object-fit: cover;
       object-fit: cover;
}
.image12-div{
    position: relative;
    max-width: 506px;
    width: 100%;
    height: 397px;
}
.image12-txt{
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
   bottom: 0;
     color:white;
     font-size: 45px;
     max-width: 275px;
     width: 100%;
     font-family: 'Futura PT Book';
     font-weight: normal;
     font-style: normal;
     font-display: swap;
}
.image12-div::before{
    content: ' ';
    max-width: 506px;
    width: 100%;
    height: 75px;
    background-color:black;
    display: block;
    position: absolute;
    opacity: 80%;
    bottom: 0;
    }
.image13{
    height: 458px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.image14{
    height: 458px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.image15{
    height: 458px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
.pg2-bottom-wholebox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 62px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1550px;
    width: 100%;
}
.pg2-bottom-box{
height: 649px;
max-width: 461px;
width: 100%;
-webkit-box-shadow: 5px 2px 10px #888888;
        box-shadow: 5px 2px 10px #888888;
}
.title4{
font-size: 45px;
font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.title5{
font-size: 30px;
font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.pg2box-content{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
}

.fa-facebook-f{
    color: #0739FF;
}
.fa-twitter{
    color: #00A2FF;
}
.fa-instagram{
    color: #F933DF;
}
.icons{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 82px;
   
    margin-top: 11px;
}
.pg2-buttondiv{
    max-width: 1500px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 83px;
}
.pg2-button{
    max-width: 383px;
    width: 100%;
    height: 92px;
    background-color: #5EB6E1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
    border-radius: 10px;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.pg3-header{
 max-width: 1518px;
 width: 100%;
 height: 836px;
 background-color: #181A1F;
 margin-top: 209px;
}
.image16{
    max-width: 110px;
    width: 100%;
    margin-top: 28px;
}
.image16-t1{
    font-size: 30px;
    color: white;
    margin-top: 20px;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.image16-t2{
    font-size: 20px;
    color: white;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.image17{
    max-width: 330px;
    width: 100%;
}
.image18{
    max-width: 330px;
    width: 100%;
}
.image19{
    max-width: 330px;
    width: 100%;
}
.page3-textdiv{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.pg3-bottom-wholebox{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 62px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 1550px;
    width: 100%;
}
.pg3-bottom-box{
    height: 522px;
max-width: 461px;
width: 100%;
background-color: #13191A;
}
.pg3box-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
margin-top: 24px;
}
.pg3-content-p1{
    font-size: 20px;
    color: #5EB6E1;
    max-width: 310px;
    width: 100%;
    margin-top: 45px;
    font-family: 'Raleway semibold';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.pg3-content-p2{
    color: white;
    max-width: 310px;
    width: 100%;
    margin-top: 15px;
    font-family: 'Raleway semibold';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.pg3-span{
    color: white;
    width: 130px;
}
.icons2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 33px;
    
}
.earth{
    color:  #5EB6E1;
    margin-right: 10px;
}
.clock{
   color:  #5EB6E1;
   margin-right: 10px;
}
.pg3-buttondiv{
    max-width: 1000px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 83px;
}
.pg3-button{
    max-width: 301px;
    width: 100%;
    height: 92px;
    background-color: #5EB6E1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 25px;
    border-radius: 10px;
}



/* page4 */

.last-wholebox{
    height: 1798px;
    max-width: 1550px;
    width: 100%;
   background-color:#181A1F;
   margin-top: 259px;
   height: auto;
}
.image20-div{
    max-width: 620px;
    width: 100%;
    height: 1090px;
}
.image20{
  max-width: 620px;
  width: 100%;
  height: 1090px;
  -o-object-fit: cover;
     object-fit: cover;
}
.last-left-b{
    max-width: 899px;
    width: 100%;
    height: 1090px;
    background-color:;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 176px;
}
.lastboxes-div{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.long-block{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-top: 120px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}
.long-block-box1{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
    max-width: 280px;
    width: 100%;
    height: 284px;
}
.fa-phone{
    font-size: 18px;
    color: #00A2FF;
}
.fa-envelope{
    font-size: 18px;
    color: #00A2FF;
    margin-top: 14px;
}
.pg4-boxtitle{
    font-size: 30px;
    color: white;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.pg4-boxp{
    max-width: 200px;
    width: 100%;
    margin-top: 35px;
    margin-bottom: 12px;
}
.icons3{
    margin-top: 30px;
}
.fb{
   font-size: 32px;
   color: #00A2FF;
}
.insta{
    font-size: 32px;
    color: #00A2FF;
}
.twt{
    font-size: 32px;
    color: #00A2FF;
    margin-left: 21px;
    margin-right: 21px;
}
.pg4span{
    color:gray;
}
.pg4-box-p{
    color: gray;
    margin-bottom: 16px;
    margin-top: 35px;
}
.popular-tags{
    max-width: 350px;
    width: 100%;
    height: 223px;
  
}
.buttons{
max-width: 350px;
width: 100%;
height: 146px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
margin-top: 37px;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
color: gray;
font-family: 'Futura PT Book';
font-weight: normal;
font-style: normal;
font-display: swap;
}
.tag1{
width: 115px;

height: 43px;
border: 1px solid gray;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color:gray;
-webkit-transition-duration: 2s;
     -o-transition-duration: 2s;
        transition-duration: 2s;
}
.tag1:hover{
    background-color:#00A2FF;
}
.tag2{
    width: 115px;
    
    height: 43px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color:gray;
-webkit-transition-duration: 2s;
     -o-transition-duration: 2s;
        transition-duration: 2s;
}
.tag2:hover{
    background-color: #00A2FF;
}
.tag3{
    width: 115px;
    height: 43px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color:gray;
-webkit-transition-duration: 2s;
     -o-transition-duration: 2s;
        transition-duration: 2s;
}
.tag3:hover{
    background-color: #00A2FF;
}
.tag4{
    width: 115px;
    height: 43px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color:gray;
-webkit-transition-duration: 2s;
     -o-transition-duration: 2s;
        transition-duration: 2s;
}
.tag4:hover{
    background-color: #00A2FF;
}
.tag5{
    width: 96px;
    height: 43px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color:gray;
-webkit-transition-duration: 2s;
     -o-transition-duration: 2s;
        transition-duration: 2s;
}
.tag5:hover{
    background-color: #00A2FF;
}
.tag6{
    width: 115px;
    height: 43px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color:gray;
-webkit-transition-duration: 2s;
     -o-transition-duration: 2s;
        transition-duration: 2s;
}
.tag6:hover{
    background-color: #00A2FF;
}
.tag7{
    width: 120px;
    height: 43px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color:gray;
-webkit-transition-duration: 2s;
     -o-transition-duration: 2s;
        transition-duration: 2s;
}
.tag7:hover{
    background-color: #00A2FF;
}
.tag8{
    width: 74px;
    height: 43px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color:gray;
-webkit-transition-duration: 2s;
     -o-transition-duration: 2s;
        transition-duration: 2s;
}
.tag8:hover{
    background-color: #00A2FF;
}
.tag9{
    width: 89px;
    height: 43px;
    border: 1px solid gray;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
color:gray;
-webkit-transition-duration:2s;
     -o-transition-duration:2s;
        transition-duration:2s;
}
.tag9:hover{
    background-color: #00A2FF;
}
.pg4-leftb-t{
    font-size: 60px;
    color: white;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

.select{
    max-width: 560px;
    width: 100%;
    margin-top: 31px;
}
.email{
    max-width: 560px;
    width: 100%;
    margin-top: 31px;
}
.textarea{
    resize: none;
    max-width: 565px;
    width: 100%;
    height: 186px;
    margin-top: 32px;
}
.submit{
    max-width: 566px;
    width: 100%;
    height: 63px;
    background-color: #5EB6E1;
    margin-top: 38px;
    font-size: 20px;
    font-family: 'Futura PT Cond medium';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
.bottom-line{
    max-width: 1550px;
    width: 100%;
    background-color: #00A2FF;
    height: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;

}

.bottom-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
   max-width: 500px;
   width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Futura PT bold';
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    font-family: 'Futura PT Demi';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
.bottom-p{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #707070;
    margin-top: 21px;
    height: 50px;
}
.logo2{
    margin-left: -80px;
    margin-bottom: 20px;
}
.logo-a{
    max-width:203px ;
    height: 40px;
}